:root {
    --main-text-color:#212121;
    --secondary-text-color:#FFFFFF;
    --additional-text-color:#757575;
    --main-fon-color: #FFFFFF;
    --secondary-fon-color: #2F303A;
    --additional-fon-color: #F5F4FA;
    --picture-fon-color: #EEEEEE;
    --accent-color: #2196F3;
    --btn-accent-color:#188CE8;
    --special-color-text: rgba(255, 255, 255, 0.6);
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --header-logo-color: #000000; 
    --border-header-color: #ececec;
    --color-background-for-img:#C4C4C4;
    --color-fill-icon:#AFB1B8;
    --pr-bk-fon-color:rgba(33, 150, 243, 0.9);
    --transition-dur-and-func:250ms linear;

}